@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-blue-500 text-white p-2 rounded-xl hover:bg-blue-600;
  }

  .disabledButton {
    @apply bg-gray-500 text-white p-2 rounded-xl cursor-not-allowed;
  }
}
